# Core
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.32

# Postgres driver (mais simples para deploy)
psycopg[binary]==3.2.10

# Servidor WSGI para produção (Linux)
gunicorn==21.2.0

# Utilidades
python-dotenv==1.0.1

# Se você usar a verificação de imagem (Pillow), descomente:

# Pillow==10.4.0








